/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.spacer {
	@apply my-6;
}

.line {
	@apply h-0.5 bg-opacity-10 bg-black w-64 sm:w-96 md:w-full max-w-2xl border-none;
}
